@page "/"

<div class="bg">
    <div class="top-section">
        <div class="circles-container">
            <div class="red-circle"></div>
            <div class="orange-circle"></div> 
            <div class="green-circle"></div>
        </div>
        <p class="jetbrains-mono-green">portfolio</p>
    </div>
    <div class="command-section">
        <p class="jetbrains-mono-green">guest@theteleporter9</p>
        <p class="jetbrains-mono-blue">~</p>
        <p class="jetbrains-mono">$ ./start_portfolio.sh</p>
    </div>
    <div class="line-border-bottom"></div>

    <div class="ascii-art-container">
        <pre class="jetbrains-mono ascii-art">
 /$$$$$$$$ /$$              /$$$$$$$$        /$$                                           /$$                          /$$$$$$ 
|__  $$__/| $$             |__  $$__/       | $$                                          | $$                         /$$__  $$
   | $$   | $$$$$$$   /$$$$$$ | $$  /$$$$$$ | $$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ | $$  \ $$
   | $$   | $$__  $$ /$$__  $$| $$ /$$__  $$| $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$|  $$$$$$$
   | $$   | $$  \ $$| $$$$$$$$| $$| $$$$$$$$| $$| $$$$$$$$| $$  \ $$| $$  \ $$| $$  \__/  | $$    | $$$$$$$$| $$  \__/ \____  $$
   | $$   | $$  | $$| $$_____/| $$| $$_____/| $$| $$_____/| $$  | $$| $$  | $$| $$        | $$ /$$| $$_____/| $$       /$$  \ $$
   | $$   | $$  | $$|  $$$$$$$| $$|  $$$$$$$| $$|  $$$$$$$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/|  $$$$$$$| $$      |  $$$$$$/
   |__/   |__/  |__/ \_______/|__/ \_______/|__/ \_______/| $$____/  \______/ |__/         \___/   \_______/|__/       \______/ 
                                                          | $$                                                                  
                                                          | $$                                                                  
                                                          |__/                                                                  
        </pre>
    </div>
 <div class="centerd">
    <div class="border-terminal">
            <div class="command-section">
                <p class="jetbrains-mono-yellow">[SYSTEM_INFO]</p>
                <p class="jetbrains-mono-gray">$ cat /proc/developer/status</p>
            </div>  
            <div class="command-section">
                <i class="fa-solid fa-code">Github</i>
            </div>
    </div>
 </div>
</div>


@code {
  int cookies = 0;  
}